<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Sign in | Maillo</title>
    <style>
        .jumbotron {
            min-height: 100vh;
            display: flex;
            align-items: center;
            margin: 0;
            background: none;
            border-radius: 0;
        }

        img {
            width: 60%;
        }

        .content {
            box-shadow: -10px 10px 28px 0 rgba(0,0,0,0.25);
            border-radius: 15px;
            padding: 40px;
            font-family: 'Montserrat', sans-serif;
        }

        h1 {
            font-weight: 800;
        }

        input.form-control {
            background: #EEEEEE;
            color: #4B4B4B;
            border: none;
            padding: 1.5rem 1rem;
            font-weight: 500;
        }

        .btn {
            background: #000000;
            border-radius: 45px;
            color: #ffffff;
            display: block;
            padding: .35rem 3rem;
            font-size: 1.25rem;
            font-weight: 800;
        }

        .btn:hover {
            background: #1f1f1f;
            color: #cfcfcf;
        }
    </style>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <div class="row justify-content-center mt-5 mb-4">
            <div class="col-3 text-center">
                <img src="https://projects.milygosc.pl/maillo/bucket/images/logo.png?v2" alt="Maillo logo">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="content col-4">
                <h1 class="text-center">Sign in</h1>
                <form>
                    <div class="form-group mt-4">
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class="form-group mt-4">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <button type="submit" class="btn mt-4 mx-auto">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>