.logo-auth {
    width: 60%;
}

.content {
    padding: 40px;
    border-radius: 15px;
    box-shadow: -10px 10px 28px 0 rgba(0,0,0,0.25);
    font-family: 'Montserrat', sans-serif;
}

h1, .btn-auth {
    font-weight: 800;
}

input.form-control {
    padding: 1.5rem 1rem;
    border: none;
    background: #EEEEEE;
    color: #4B4B4B;
    font-weight: 500;
}

.btn-auth {
    display: block;
    padding: .35rem 3rem;
    border-radius: 45px;
    background: #000000;
    color: #ffffff;
    font-size: 1.25rem;
}

.btn-auth:hover {
    background: #1f1f1f;
    color: #cfcfcf;
}